/* <====================>

# UNICORN KINGDOM STYLES

<=======================> */

/* Base Styles */
body, html {
    height: 100%;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: 'Emilys Candy', cursive;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;    
    color: #333;
    background-color: #C2F5F0;    
    margin: 0;    
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Header */
header {
    margin-bottom: 20px;
}
.header {
    height: 5px;
}
.dashboard-header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.form-header {
    text-align: center;
}

/* Site title */
.site-title {
    font-size: calc(2.5rem + 1.3vw);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #6495ED;
    margin-bottom: 0;
}
.dashboard-title {
    font-size: calc(1.8rem + 0.5vw);
}

/* Form classes */
.form-container {
    max-width: 600px;
    width: 85vw;
    margin: 0 auto;
}
.unicorn-form,
.login-form {
    display: grid;
}
label {
    font-size: calc(1rem + 0.5vw);
    padding: 1.8rem 0 0.5rem;
    letter-spacing: 0.1rem;
}
input[type='text'],
input[type='email'],
input[type='password'] {
    font-size: 1.3rem;
    padding: 0.6rem 0.4rem;
    background-color: #C5FFE0;
    color: #FF69B5;
    border: none;
    border-bottom: 4px solid #40E0D0;
}
select {
    font-size: 1.3rem;
    padding: 0.6rem 0.4rem;
    background-color: #C5FFE0;
    color: #FF69B5;
    border: none;
    border-bottom: 4px solid #40E0D0;  
}
a:hover, 
a:focus {
    background: #FF69B5;
    color: #40E0D0;
    transition: all 0.2s linear;
}
.reg-form-submit {
    font-family: 'Emilys Candy', cursive;
    font-size: calc(1.2rem + 0.5vw);
    font-weight: bold;
    letter-spacing: 0.1rem;     
    text-transform: uppercase;
    width: 100%;
    padding: 1rem;
    margin: 30px 0;
    background: #40E0D0;
    color: #FF69B5;
    border: none;
    cursor: pointer; 
    transition: all 0.2s linear;
}
.reg-form-submit:hover,
.login-button:hover {
    background: #FF69B5;
    color: #40E0D0;
    transition: all 0.2s linear;
}
.logout-button {
    font-family: 'Emilys Candy', cursive;
    font-size: calc(1rem + 0.5vw);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    width: 130px;
    padding: 0.5rem;
    margin: 30px 0;
    background: #40E0D0;
    color: #FF69B5;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s linear;
}
.login-button {
    font-family: 'Emilys Candy', cursive;
    font-size: calc(1rem + 0.4vw);
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    width: 38%;
    padding: 1rem;
    margin: 30px 0 15px;
    background: #40E0D0;
    color: #FF69B5;
    border: none;
    cursor: pointer;
    transition: all 0.2s linear;   
}
.register-now-button {
    font-family: 'Emilys Candy', cursive;
    font-size: calc(0.8rem + 0.4vw);
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    width: 38%;
    padding: 1rem;
    margin: 30px 0 15px 0;
    background: #EE82EE;
    color: #40E0D0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s linear;   
}
.register-now-button:hover {
    background: #40E0D0;
    color: #EE82EE;    
    transition: all 0.2s linear; 
}
.login-form-ctas {
    display: flex;
    justify-content: space-between;    
}

/* Dashboard classes */
.dashboard-container {
    display: grid;
    grid-template-columns: 15px 35vw 1fr 15px;
    grid-template-rows: 30px auto 20px;
    column-gap: 30px; 
    row-gap: 30px;
}
.user-info-sidebar {
    grid-column: 2;
    grid-row: 2;
    min-height: 40vh; 
    max-height: calc(100vh - 200px);
    padding: 1.5rem;
    background-color: #9DF5EC;
    border: 10px solid #C5FFE0;
}
.user-info-sidebar--info {
    font-size: 1.2rem;
}
.standout-colour {
    color: #FF69B5;
}
.unicorn {
    grid-column: 3;
    grid-row: 2;
    min-height: 40vh; 
    max-height: calc(100vh - 200px);
    padding: 1.5rem;
}

/* Footer */
footer {
    margin-top: 30px;
}
.footer {
    height: 20px;
} 
.footer--blue {
    background-color: #6495ED;
}
.footer--green {
    background-color: #40E0D0;
}
.footer--gold {
    background-color: #FFD700;
}
.footer--pink {
    background-color: #FF69B4;
} 
.footer--violet {
    background-color: #EE82EE;
}
/* Hide elements class */
.hide {
    display: none;
}

/* SVG Classes */
svg {
    width: 100%;
    height: 100%;
    min-height: 40vh;
    max-height: calc(100vh - 200px);    
}
.grey {
    fill:#ececec;
}
.gold {
    fill:gold;
    stroke:gold;
    stroke-miterlimit:10;
}
.gold-alt {
    fill:gold;
    stroke:gold;	
    stroke-width:0.94px;
    stroke-miterlimit:10;							
}
.grey-alt {
    fill:#e0e0e0;
}
.white {
    fill:#fff;
    stroke:#8fffd5;
    stroke-width:3px;
    stroke-miterlimit:10;
}
.stroke {
    fill:none;
    stroke:#666;
    stroke-linecap:round;
    stroke-width:3px;
    stroke-miterlimit:10;
}
.grey-darker {
    fill:#ddd;
}
.hoof, 
.star {
    transition: fill 0.8s ease;
}
.mane-violet {
    fill: violet;
}
.mane-turquoise {
    fill: turquoise;
}
.mane-cornflower-blue {
    fill: cornflowerblue;
}
.mane-hot-pink {
    fill: hotpink;
}